html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
}

.login {
  width: 720px;
  height: 100%;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .text {
    color: darkgray;
  }
}
